############################################
# Java
########################
target/
*.class
*.jar
*.war
*.log

########################
# Maven
########################
.mvn/
.settings/
.project
.classpath

########################
# IntelliJ
########################
.idea/
*.iml

########################
# VS Code
########################
.vscode/

########################
# Node
########################
node_modules/
npm-debug.log

########################
# React Build
########################
build/

########################
# Environment
########################
.env

########################
# OS Files
########################
.DS_Store
Thumbs.db
